# Operadores y Tipos de Operadores
### ¿Qué son los operadores?
- Son un conjunto de símbolos para un lenguaje de programación
- Pueden decirle al compilador o al intérprete que ejecute ciertas acciones para producir un resultado final
- Pueden ser usados para aplicar operaciones en variables o valores
- Pueden ser clasificados según su tipo (aritméticos, relacionales, de asignación, de decremento, lógicos, afiliación y de indentidad)

Tipos de operadores 
- Aritméticos
- Relacionales
- De Asignación 
- Lógicos 
- De afiliación
- De Identidad

### Operadores aritméticos
- "+": suma
- "-": resta
- "*": multiplicación
- "/": división
- "//": división con redondeo hacia abajo
- "**": exponente

In [2]:
# "+": suma
num_1 = 500
num_2 = 300
print("El resultado de num_1+num_2 es: ",num_1+num_2)

El resultado de num_1+num_2 es:  800

In [3]:
# "+": suma
num_1 = 200
num_2 = 900
print("El resultado de num_1+num_2 es: ",num_1+num_2)

El resultado de num_1+num_2 es:  1100

In [4]:
# "-": resta
num_1 = 500
num_2 = 300
print("El resultado de num_1-num_2 es: ",num_1-num_2)

El resultado de num_1-num_2 es:  200

In [5]:
# "-": resta
num_1 = 200
num_2 = 900
print("El resultado de num_1-num_2 es: ",num_1-num_2)

El resultado de num_1-num_2 es:  -700

In [6]:
# "*": multiplicación
num_1 = 500
num_2 = 300
print("El resultado de num_1*num_2 es: ",num_1*num_2)

El resultado de num_1*num_2 es:  150000

In [7]:
# "*": multiplicación
num_1 = 200
num_2 = 900
print("El resultado de num_1*num_2 es: ",num_1*num_2)

El resultado de num_1*num_2 es:  180000

In [8]:
# "/": división
num_1 = 500
num_2 = 300
print("El resultado de num_1/num_2 es: ",num_1/num_2)

El resultado de num_1/num_2 es:  1.6666666666666667

In [9]:
# "/": división
num_1 = 200
num_2 = 900
print("El resultado de num_1/num_2 es: ",num_1/num_2)

El resultado de num_1/num_2 es:  0.2222222222222222

In [10]:
# "//": división con redondeo hacia abajo, la parte entera del resultado
num_1 = 500
num_2 = 300
print("El resultado de num_1//num_2 es: ",num_1//num_2)

El resultado de num_1//num_2 es:  1

In [11]:
# "//": división con redondeo hacia abajo, la parte entera del resultado
num_1 = 200
num_2 = 900
print("El resultado de num_1//num_2 es: ",num_1//num_2)

El resultado de num_1//num_2 es:  0

In [12]:
# "**": exponente (elevar un exponente)
num_1 = 2
num_2 = 5
print("El resultado de num_1**num_2 es: ",num_1**num_2) #2*2*2*2*2

El resultado de num_1**num_2 es:  32

In [13]:
# "**": exponente (elevar un exponente)
num_1 = 3
num_2 = 3
print("El resultado de num_1**num_2 es: ",num_1**num_2) #3*3*3

El resultado de num_1**num_2 es:  27

### Operadores relacionales 

¿Qué son los operadores relacionales?
- Son también conocidos como operadores de comparación
- Regresan un valor booleano (Verdadero o Falso)
- En Python, son usados para comparar o relacionar los valores
- Verdadero/True, es el resultado cuando la condición es exitosa
- Falso/False, es el resultado cuando la condición no se cumple 
- Estos operadores se encargan de las operaciones de comparación

Tipos de operadores relacionales
- "==": comparar si es igual a
- "!=": diferente a
- ">": mayor que
- ">=": mayor o igual que
- "<": menor que
- "<=": menor o igual que

In [14]:
# "==": igual a

In [15]:
num_1 = 540 #asignación
num_2 = 420
print("El resultado de num_1==num_2 es: ",num_1==num_2)

El resultado de num_1==num_2 es:  False

In [16]:
num_1 = 540 #asignación
num_2 = 540
print("El resultado de num_1==num_2 es: ",num_1==num_2)

El resultado de num_1==num_2 es:  True

In [18]:
str_1 = "Backend Python" # asignación
str_2 = "Backend Python"
print("El resultado de str_1==str_2 es: ",str_1==str_2)

El resultado de str_1==str_2 es:  True

In [19]:
str_1 = "Backend Python" # asignación
str_2 = "backend python"
print("El resultado de str_1==str_2 es: ",str_1==str_2)

El resultado de str_1==str_2 es:  False

In [20]:
# "!=": diferente a

In [21]:
num_1 = 540 #asignación
num_2 = 420
print("El resultado de num_1!=num_2 es: ",num_1!=num_2)

El resultado de num_1!=num_2 es:  True

In [22]:
num_1 = 540 #asignación
num_2 = 540
print("El resultado de num_1!=num_2 es: ",num_1!=num_2)

El resultado de num_1!=num_2 es:  False

In [23]:
str_1 = "Backend Python" # asignación
str_2 = "Backend Python"
print("El resultado de str_1!=str_2 es: ",str_1!=str_2)

El resultado de str_1!=str_2 es:  False

In [25]:
str_1 = "Backend Python" # asignación
str_2 = "backend python"
print("El resultado de str_1!=str_2 es: ",str_1!=str_2)

El resultado de str_1!=str_2 es:  True

In [26]:
# ">": mayor que

In [27]:
num_1 = 540 #asignación
num_2 = 420
print("El resultado de num_1>num_2 es: ",num_1>num_2)

El resultado de num_1>num_2 es:  True

In [28]:
num_1 = 540 #asignación
num_2 = 540
print("El resultado de num_1>num_2 es: ",num_1>num_2)

El resultado de num_1>num_2 es:  False

In [29]:
num_1 = 540 #asignación
num_2 = 920
print("El resultado de num_1>num_2 es: ",num_1>num_2)

El resultado de num_1>num_2 es:  False

In [30]:
# ">=": mayor o igual que

In [31]:
num_1 = 540 #asignación
num_2 = 420
print("El resultado de num_1>=num_2 es: ",num_1>=num_2)

El resultado de num_1>=num_2 es:  True

In [32]:
num_1 = 540 #asignación
num_2 = 540
print("El resultado de num_1>=num_2 es: ",num_1>=num_2)

El resultado de num_1>=num_2 es:  True

In [33]:
num_1 = 540 #asignación
num_2 = 920
print("El resultado de num_1>=num_2 es: ",num_1>=num_2)

El resultado de num_1>=num_2 es:  False

In [34]:
# "<": menor que

In [35]:
num_1 = 540 #asignación
num_2 = 420
print("El resultado de num_1<num_2 es: ",num_1<num_2)

El resultado de num_1<num_2 es:  False

In [36]:
num_1 = 540 #asignación
num_2 = 540
print("El resultado de num_1<num_2 es: ",num_1<num_2)

El resultado de num_1<num_2 es:  False

In [37]:
num_1 = 540 #asignación
num_2 = 920
print("El resultado de num_1<num_2 es: ",num_1<num_2)

El resultado de num_1<num_2 es:  True

In [38]:
# "<=": menor o igual que

In [39]:
num_1 = 540 #asignación
num_2 = 420
print("El resultado de num_1<=num_2 es: ",num_1<=num_2)

El resultado de num_1<=num_2 es:  False

In [40]:
num_1 = 540 #asignación
num_2 = 540
print("El resultado de num_1<=num_2 es: ",num_1<=num_2)

El resultado de num_1<=num_2 es:  True

In [41]:
num_1 = 540 #asignación
num_2 = 920
print("El resultado de num_1<=num_2 es: ",num_1<=num_2)

El resultado de num_1<=num_2 es:  True

### Operadores de asignación

¿Qué son los operadores de asigncaión?
- En Python son usados para asignar valores a variables
- Incluyen al operador de asignación que es el signo de igual (=)

Tipos de operadores de asignación:
- "=": Operador de Asignación
- "+=": Sumar y Asignar
- "-=": Restar y Asignar
- "*=": Multiplicar y Asignar
- "/=": Dividir y Asignar
- "//=": Dividir con redondeo hacia abajo y asignar
- "%=": Modulo y Asignar
- "**=": Exponente y Asignar

In [45]:
# "=": Operador de Asignación

In [43]:
num_1 = 20
num_2 = 3

In [44]:
# "+=": Sumar y Asignar

In [46]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 += num_2 # num_1 = num_1 + num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  23

In [47]:
# "-=": Restar y Asignar

In [48]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 -= num_2 # num_1 = num_1 - num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  17

In [49]:
# "*=": Multiplicar y Asignar

In [50]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 *= num_2 # num_1 = num_1 * num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  60

In [51]:
# "/=": Dividir y Asignar

In [52]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 /= num_2 # num_1 = num_1 / num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  6.666666666666667

In [53]:
# "//=": Dividir con redondeo hacia abajo y asignar

In [54]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 //= num_2 # num_1 = num_1 // num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  6

In [59]:
# "%=": Modulo y Asignar, el número que queda tras dividir, residuo

In [56]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 %= num_2 # num_1 = num_1 % num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  2

In [57]:
# "**=": Exponente y Asignar

In [58]:
num_1 = 20
num_2 = 3
print("num_1 antes de la operación: ",num_1)
num_1 **= num_2 # num_1 = num_1 ** num_2
print("num_1 después de la operación: ",num_1)

num_1 antes de la operación:  20
num_1 después de la operación:  8000

### Operadores Lógicos

¿Qué son los operadores lógicos?
- Son usados principalmente para declaraciones condicionales
- Son indicadores estructurales
- También se les conoces como conectores lógicos
- Hay 3 tipos de operadores lógicos:
    - AND (y) - regresa True/Verdadero si ambas operaciones son verdaderas
    - OR (o) - regresa True/Verdadero si por lo menos 1 de las operaciones es verdadera
    - NOT (lo opuesto) - regersa True/Verdadero si la operación es False/Falso

In [60]:
# AND (y)
# Todas las condiciones deben ser verdaderas

In [61]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
print("num_1<=num_2 and num_1!=num_2", num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2 True

In [62]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: False/Falso
print("num_1<=num_2 and num_1!=num_2", num_1<=num_2 and num_1!=num_2)

num_1<=num_2 and num_1!=num_2 False

In [63]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
# num_1>10: True/Verdadero
print("num_1<=num_2 and num_1!=num_2 and num_1>10", num_1<=num_2 and num_1!=num_2 and num_1>10)

num_1<=num_2 and num_1!=num_2 and num_1>10 True

In [64]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: False/Falso
# num_1>10: True/Verdadero
print("num_1<=num_2 and num_1!=num_2 and num_1>10", num_1<=num_2 and num_1!=num_2 and num_1>10)

num_1<=num_2 and num_1!=num_2 and num_1>10 False

In [65]:
# OR (o) - una de las condiciones debe ser verdadera/True

In [66]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
print("num_1<=num_2 or num_1!=num_2", num_1<=num_2 or num_1!=num_2)

num_1<=num_2 or num_1!=num_2 True

In [68]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
print("num_1<=num_2 or num_1!=num_2", num_1<=num_2 or num_1!=num_2)

num_1<=num_2 or num_1!=num_2 True

In [69]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
# num_1!=num_2: True/Verdadero
# num_1>10: True/Verdadero
print("num_1<=num_2 or num_1!=num_2 or num_1>10", num_1<=num_2 or num_1!=num_2 or num_1>10)

num_1<=num_2 or num_1!=num_2 or num_1>10 True

In [70]:
num_1 = 11
num_2 = 11
# num_1<=num_2: True/Verdadero
# num_1!=num_2: False/Falso
# num_1>10: True/Verdadero
print("num_1<=num_2 or num_1!=num_2 or num_1>10", num_1<=num_2 or num_1!=num_2 or num_1>10)

num_1<=num_2 or num_1!=num_2 or num_1>10 True

In [71]:
# NOT (lo opuesto)
# La condición debe ser falsa

In [72]:
num_1 = 11
num_2 = 55
# num_1<=num_2: True/Verdadero
print("not num_1<=num_2", not num_1<=num_2)

not num_1<=num_2 False

In [73]:
num_1 = 11
num_2 = 55
# num_1!=num_2: True/Verdadero
print("not num_1!=num_2", not num_1!=num_2)

not num_1!=num_2 False

In [74]:
num_1 = 11
num_2 = 55
# num_1>num_2: False/Falso
print("not num_1>num_2", not num_1>num_2)

not num_1>num_2 True

### Operadores de Afiliación

¿Qué son los operadores de afiliación?
- Son usados para validar elementos en listas, cadenas y dúplas
- Validan si una variable esta presente en una secuencia 
- Regresan un valor booleano con el resultado True/False
- Regresa True/Verdadero si el valor esta presentre en la secuencia
- Regresa False/Falso si el valor no esta en la secuencia 
- Hay 2 operadores de afiliación:
    - IN - el valor esta en la secuencia 
    - NOT IN - el valor no esta en la secuencia

In [1]:
# IN: ¿El valor esta presente en la secuencia?

In [2]:
my_string = "Backend Python"
print("'a' in my_string", 'a' in my_string)

'a' in my_string True

In [3]:
my_string = "Backend Python"
print("'i' in my_string", 'i' in my_string)

'i' in my_string False

In [4]:
my_list = [1, 154, 321, 22, 11]
print("5 in my_list ",5 in my_list)

5 in my_list  False

In [7]:
my_list = [1, 154, 321, 22, 11, 5, 11, 22, 5, 1]
print("5 in my_list ",5 in my_list)

5 in my_list  True

In [8]:
my_list

[1, 154, 321, 22, 11, 5, 11, 22, 5, 1]

In [11]:
my_set = {1, 154, 321, 22, 11, 5, 33, 4}
print("5 in my_set ",5 in my_set)

5 in my_set  True

In [13]:
my_set

{1, 4, 5, 11, 22, 33, 154, 321}

In [14]:
# NOT IN: ¿El valor NO esta presente en la secuencia?

In [15]:
my_string = "Backend Python"
print("'a' not in my_string", 'a' not in my_string)

'a' not in my_string False

In [16]:
my_string = "Backend Python"
print("'i' not in my_string", 'i' not in my_string)

'i' not in my_string True

In [17]:
my_list = [1, 154, 321, 22, 11, 5, 11, 22, 5, 1]
print("5 not in my_list ",5 not in my_list)

5 not in my_list  False

In [18]:
my_set = {1, 154, 321, 22, 11, 5, 33, 4}
print("5 not in my_set ",5 not in my_set)

5 not in my_set  False

### Operadores de Identidad

¿Qué son los operadores de identidad?
- Son usados para comparar la ubicación en memoria de 2 objetos 
- Se utilizan para validar si los valores comparten el mismo espacio en memoria o no 
- Regresan True/Verdadero si lo comparten, y False/Falso si no lo comparten
- Hay 2 operadores de identidad:
    - IS
    - IS NOT

In [ ]:
# IS

In [19]:
num_1 = 11
num_2 = 55
print("num_1 is num_2", num_1 is num_2)

num_1 is num_2 False

In [20]:
num_1 = 77
num_2 = 77
print("num_1 is num_2", num_1 is num_2)

num_1 is num_2 True

In [21]:
# IS NOT

In [22]:
num_1 = 11
num_2 = 55
print("num_1 is not num_2", num_1 is not num_2)

num_1 is not num_2 True

In [23]:
num_1 = 77
num_2 = 77
print("num_1 is not num_2", num_1 is not num_2)

num_1 is not num_2 False

### Conversión de Tipos

¿Qué es la conversión de tipos?
- Es el proceso de conversión de un tipo de dato a otro tipo de dato
- Es un paso muy importante para combinar múltiples fuentes de datos en un formato específico 
- Hay de 2 tipos:
    - Conversión Implícita: hecha de forma automática por el intérprete de Python
    - Conversión Explícita

In [24]:
# Conversión implícita

In [26]:
14+2.0 # pasa de int a float

16.0

In [27]:
14 + 2.0 + 3

19.0

In [28]:
# Conversión explícita

In [30]:
int(199.49) #convierte un float a un int

199

In [31]:
float(59) #convierte de int a float

59.0

In [32]:
complex(4)

(4+0j)

### Conversión Int

In [33]:
int(18.09) # float a int

18

In [34]:
int(False) # bool a int

0

In [35]:
int(True) # bool a int

1

In [36]:
#error
int(3+5j) # complex a int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [37]:
int("120") # string a int siempre y cuando la cadena sea un numero

120

In [38]:
# error
int("120.5") # string a int

ValueError: invalid literal for int() with base 10: '120.5'

### Conversión float

In [41]:
float(23) # int a float

23.0

In [40]:
#error 
float(3+5j) # complex a float

TypeError: float() argument must be a string or a real number, not 'complex'

In [42]:
float(True) # bool a float

1.0

In [43]:
float(False) # bool a float

0.0

In [44]:
float("829.99") # string a float

829.99

In [45]:
float("829") # string a float

829.0

In [46]:
# error
float("829t") # string a float

ValueError: could not convert string to float: '829t'

In [47]:
# error
float("True") # string a float

ValueError: could not convert string to float: 'True'

### Conversiones Complex

In [48]:
complex(34) # int a complex

(34+0j)

In [49]:
complex(40.2) # float a complex

(40.2+0j)

In [50]:
complex(True) # bool a complex

(1+0j)

In [51]:
complex(False) # bool a complex

0j

In [52]:
complex("24") # string a complex

(24+0j)

In [53]:
complex("24.87") # string a complex

(24.87+0j)

In [58]:
# error 
complex("Backend") # string a complex

ValueError: complex() arg is a malformed string

In [57]:
# error 
complex("10f") # string a complex

ValueError: complex() arg is a malformed string

In [59]:
complex("10j") # string a complex

10j

### Conversiones Bool

In [60]:
bool(3) # int a bool

True

In [61]:
bool(0) # int a bool

False

In [62]:
bool(3.5) # float a bool

True

In [63]:
bool(-3.5) # float a bool

True

In [64]:
bool(0.0) # float a bool

False

In [65]:
bool(0+3j) # complex a bool

True

In [66]:
bool(0+0j) # complex a bool

False

In [67]:
bool("python") # string a bool

True

In [68]:
bool(" ") # string a bool

True

In [69]:
bool("") # string a bool

False

In [70]:
bool("0") # string a bool

True

### Conversiones str

In [71]:
str(25) # int a str

'25'

In [72]:
str(3.5) # float a str

'3.5'

In [73]:
str(7+6j) # complex a str

'(7+6j)'

In [74]:
str(True) # bool a str

'True'

### Funciones Básicas

#### trunc()

In [1]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001
print("num_1: ",num_1)
print("num_2: ",num_2)
print("num_3: ",num_3)
print("num_4: ",num_4)

num_1:  64.99
num_2:  64.5
num_3:  64.51
num_4:  64.000001

In [2]:
from math import trunc
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001
print("trunc(num_1): ",trunc(num_1))
print("trunc(num_2): ",trunc(num_2))
print("trunc(num_3): ",trunc(num_3))
print("trunc(num_4): ",trunc(num_4))

trunc(num_1):  64
trunc(num_2):  64
trunc(num_3):  64
trunc(num_4):  64

#### round(), ceil() y floor()

In [3]:
# round
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001
print("round(num_1): ",round(num_1))
print("round(num_2): ",round(num_2))
print("round(num_3): ",round(num_3))
print("round(num_4): ",round(num_4))

round(num_1):  65
round(num_2):  64
round(num_3):  65
round(num_4):  64

In [4]:
# ceil - redondeo hacia arriba
from math import ceil
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001
print("ceil(num_1): ",ceil(num_1))
print("ceil(num_2): ",ceil(num_2))
print("ceil(num_3): ",ceil(num_3))
print("ceil(num_4): ",ceil(num_4))

ceil(num_1):  65
ceil(num_2):  65
ceil(num_3):  65
ceil(num_4):  65

In [5]:
# floor - redondeo hacia abajo
from math import floor
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001
print("floor(num_1): ",floor(num_1))
print("floor(num_2): ",floor(num_2))
print("floor(num_3): ",floor(num_3))
print("floor(num_4): ",floor(num_4))

floor(num_1):  64
floor(num_2):  64
floor(num_3):  64
floor(num_4):  64

### Función %

In [6]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001
print("'%.2f' % num_1: ",'%.2f' % num_1)
print("'%.3f' % num_2: ",'%.3f' % num_2)
print("'%.4f' % num_3: ",'%.4f' % num_3)
print("'%.5f' % num_4: ",'%.5f' % num_4)

'%.2f' % num_1:  64.99
'%.3f' % num_2:  64.500
'%.4f' % num_3:  64.5100
'%.5f' % num_4:  64.00000

#### format()

In [8]:
num_1 = 64.99
num_2 = 64.5
num_3 = 64.51
num_4 = 64.000001
print("'{:.2f}'.format(num_1): ",'{:.2f}'.format(num_1))
print("'{:.3f}'.format(num_2): ",'{:.3f}'.format(num_2))
print("'{:.4f}'.format(num_3): ",'{:.4f}'.format(num_3))
print("'{:.5f}'.format(num_4): ",'{:.5f}'.format(num_4))

'{:.2f}'.format(num_1):  64.99
'{:.3f}'.format(num_2):  64.500
'{:.4f}'.format(num_3):  64.5100
'{:.5f}'.format(num_4):  64.00000